.materialize-textarea{
    min-height: 8rem!important;
}
.quote-rs{
    float: left;
}
.md-rs{
    float: none !important;
    margin-left: auto;
    margin-right: auto;
  }
.alert {
    font-weight: bold;
}
.alert-danger{
    background-color: red;
}
.success{
    background-color: green;
}