{% extends 'base.html.twig' %}
{% block body %}
<section>
   <div class="col s12 m2">
      <div class="container">
         <div id="main-content" class="row col s12 z-depth-4" style="margin-top: 15%;">
            {{ include('message/_form.html.twig') }}
         </div>
         {% for full_path in app.session.flashbag().get('success') %}
         <p class="center-align">
         <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Show your URL</a>
         </p>
         <!-- Modal Structure -->
         <div id="modal1" class="modal">
            <div class="modal-content">
               <h4>Your secret URL</h4>
               <textarea id="secret_url" class="materialize-textarea" readonly>{{full_path}}</textarea>
               {% for password in app.session.flashbag().get('secret') %}
               <h4>Your secret password</h4>
               <textarea id="secret_password" class="materialize-textarea" readonly>{{ password }}</textarea>
               {% endfor %}
            </div>
            <div class="modal-footer">
               <blockquote class="right-align quote-rs">The URL will be shown one time only.</blockquote>
               <button href="#!" onclick="copyToClipboard('secret_url')" class="waves-effect waves-light btn blue darken-4">Copy URL</button>
               {% for password2 in app.session.flashbag().get('secret2') %}
               <button href="#!" onclick="copyToClipboard('secret_password')" class="waves-effect waves-light btn  blue darken-4">Copy password</button>
               {% endfor %}
               <button href="#!" class="modal-close waves-effect waves-light btn blue-grey darken-1">Close</button>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
</section>
{% endblock %}