<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><img src="{{ asset('img/3326308b-c8a9-4eb4-8317-510bda55519d_200x200.png') }}"
                  alt="" class="responsive-img" style="width:60px;"></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
      {% if app.User != null %}
        <li><a href="#!">Options</a></li>
        <li><a class='dropdown-activation btn' href='#' data-target='dropdown-lang'>settings</a></li>
      {% endif %}
      </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    <li><a href="#!">Options</a></li>
</ul>
<!-- Dropdown Structure -->
<ul id='dropdown-lang' class='dropdown-content input-field'>
  <li class="divider" tabindex="-1"></li>
  <li><a href="#!">three</a></li>
  <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
  <li class="divider" tabindex="-1"></li>
  <li><a href="{{ path('app_logout') }}"><i class="material-icons">power_settings_new</i>Log out</a></li>
</ul>